.fullPage {
    width: 100vw;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 18% 2% 18%;

    box-sizing: border-box;
  }
  
  .fullBlock {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    background-color: #D7F2F7;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: scroll;
  }

  .fullBlock::-webkit-scrollbar {
    display: none;
  }
  
  .fullBlock {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .fullOutline {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    justify-content: center;
    background-color: #D7F2F7;
    padding: 2%;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: scroll;
  }